.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*{
  padding: 0;
  margin: 0;
}
ul{
  list-style: none;
}
.container{
  margin-left: 200px;
  margin-top: 100px;
}
button{
  width: 100px;
  height: 20px;
  margin-left: 10px;
}
input{
  margin-top: 10px;
}

.bg-f {
  background: $color-f;
}
.flex{
  display: flex;
  align-content: flex-start;
}

.flex-v-b {
  display: flex;
  align-content: space-between;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-flex-v {
  display: flex;
  align-items: center;
}
.center-flex-h{
  display: flex;
  justify-content: center;
}
.flex-wa-yc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-wa-ch{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-wa-cv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-wa{
  display: flex;
  flex-direction: column;
}
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}
.flex-nowrap{
  display: flex;
  flex-wrap: nowrap;
}
.flex-b{
  display: flex;
  justify-content: space-between;
}
.flex-b-yc{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start-end{
  display: flex;
  justify-content: flex-end;
}
.background-f{
  background: #ffffff;
}
.full-width{
  width: 100%;
}
.text-ellipsis{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.text-nowrap {
  white-space: nowrap;
}
.flex-full{
  flex: 1;
}
.overflow_y_a{
  overflow-y: auto;
  -webkit-overflow-scrolling : touch;
}